[submodule "submodules/AsyncDisplayKit"]
	path = submodules/AsyncDisplayKit
	url = https://github.com/peter-iakovlev/AsyncDisplayKit.git
[submodule "submodules/Display"]
	path = submodules/Display
	url = https://github.com/peter-iakovlev/Display.git
[submodule "submodules/HockeySDK-iOS"]
	path = submodules/HockeySDK-iOS
	url = https://github.com/peter-iakovlev/HockeySDK-iOS.git
[submodule "submodules/libtgvoip"]
	path = submodules/libtgvoip
	url = https://github.com/grishka/libtgvoip.git
[submodule "submodules/lottie-ios"]
	path = submodules/lottie-ios
	url = https://github.com/peter-iakovlev/lottie-ios.git
[submodule "submodules/MtProtoKit"]
	path = submodules/MtProtoKit
	url = https://github.com/peter-iakovlev/MtProtoKit.git
[submodule "submodules/Postbox"]
	path = submodules/Postbox
	url = https://github.com/peter-iakovlev/Postbox.git
[submodule "submodules/SSignalKit"]
	path = submodules/SSignalKit
	url = https://github.com/peter-iakovlev/Signals.git
[submodule "submodules/TelegramCore"]
	path = submodules/TelegramCore
	url = https://github.com/peter-iakovlev/TelegramCore.git
[submodule "submodules/TelegramUI"]
	path = submodules/TelegramUI
	url = https://github.com/peter-iakovlev/TelegramUI.git
[submodule "submodules/ffmpeg"]
	path = submodules/ffmpeg
	url = https://github.com/peter-iakovlev/ffmpeg.git
[submodule "submodules/LegacyComponents"]
	path = submodules/LegacyComponents
	url = https://github.com/peter-iakovlev/legacycomponents.git
